:local {
  .container {
    border-bottom: 1px solid #b4b4b4;
    padding: 0.5rem 1rem 0.5rem 1rem;

    span {
      word-break: break-word;
      display: block;
      padding: 0.5rem 0;
    }
  }

  .noNewLine {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}