:local {
  .container {
    position: relative;
    background-color: #ffffff;
    overflow: scroll;
    height: 100%;
    width: 100%;
  }

  .canvas {
    position: absolute;
  }

  .zoomOut {
    position: fixed;
    left: 0.5rem;
    bottom: 0.25rem;
  }

  .zoomIn {
    position: fixed;
    left: 2.5rem;
    bottom: 0.25rem;
  }

}