:local {
  .container {
    // overflow: scroll;
  }

  .tab {
    white-space: nowrap;
    width: 100%;
    padding: 0.25rem;
  }

  .clickable {
    cursor: pointer;
  }

  .flagInserted {
    background-color: #19ab273b;
  }

  .flagDeleted {
    background-color: #ff00003b;
  }

  .noSelect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
  }

  .pathDisplay {
    padding: 0 1rem 1rem 1rem;

    .label {
      margin-bottom: 0.5rem;
    }

    .content {
      font-size: 0.8rem;
      color: grey;
    }
  }
}

:global {
  .tree {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #21252B;
  }

  // .m-node {
  //   padding: 0.25rem;
  // }

  .m-node.placeholder {
    border: 1px dashed #1385e5;
  }

  .m-node .inner {
    color: black;
    font-size: 12px;
    font-family: Menlo;
  }

  .children .inner {
    cursor: default;
    padding: 0.25rem;
    // margin: 0.25rem;

    &:hover {
      background-color: rgba(196, 196, 196, 0.404);
    }
  }

  .m-node .node {
    display: inline-block;
    width: 100%;
    padding: 4px 5px;
  }

  .m-node .node.is-active {
    background-color: #31363F;
  }
}