:local {
  .container {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
  }

  .upperContainer {
    border-bottom: 1px solid #b4b4b4;
  }

  .lowerContainer {
    display: flex;
    max-height: calc(100vh - 103px);
  }

  .leftPane {
    display: flex;
    flex-direction: column;
    flex: 5;
    border-right: 1px solid #b4b4b4;
    overflow-y: scroll;

    .leftUpper {
      position: relative;
      height: 100%;
    }

    .leftLower {
      height: 2rem;
    }
  }

  .rightPane {
    flex: 3;
    overflow-y: scroll;
  }

  .toggleContainer {
    margin: 1rem;
    display: flex;
    align-items: center;

    .toggleLabel {
      margin-left: 0.5rem;
    }
  }

  .filterContainer {
    margin-left: 1rem;
    margin-bottom: 1rem;

    input {
      margin-right: 0.25rem;
    }

    label {
      margin-right: 1rem;
    }
  }
}